body{
    background: rgb(21, 167, 235);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    padding: 15px;
    border-radius: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 10px;
}

div{
    text-align: center;
    margin-bottom: 15px;
}

select{
    width: 300px;
    height: auto;   
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}